<div class="container" *ngIf="getTopNewsHeadlines.length > 0">
  <h1 class="text-center" style="color: rgb(255, 255, 255);"> Flash News </h1>
  <br>
  <div class="row card-group">
    <div class="col-2"></div>
    <div class="col-8">
    <div *ngFor="let news of getTopNewsHeadlines">
      <div class="card mb-3">
        <img class="card-img-top" src="{{news.urlToImage}}" alt="Card image cap" width="50%"
        height="50%">
        <div class="card-body">
          <h5 class="card-title">{{news.title}}</h5>
          <p class="card-text">{{news.description}}</p>
          <button class="btn btn-primary" id="more" (click)="goToDetails(news)">more..</button>&nbsp;
          <!-- <p class="card-text"><small class="text-muted">{{news.source.name}}</small></p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="col-2"></div>
  </div>
  <br>
</div>